.venv
data
tests
scripts
.env
**/__pycache__
.pytest_cache
.mypy_cache
.ruff_cache
*.egg-info
.git
.github
artifacts
docs
PLAN.md
*.zip
*.tar
*.tar.gz
.env.*
build
dist
*.sqlite*
*.db*

*.pem
*.key
*.p12
*.pfx
*.log
logs
.idea
.vscode
